.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.hello{
    font-family:  'Poppins', sans-serif;
    font-size: 30px;
    color: #48C5C9;
    text-transform: uppercase;
    font-weight: bold;
}

.hello span{
    color: #F37678;
}

.slogan{
    color: #001C4C;
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: -2%;
}